{% extends 'base.html' %}
	{% block content %}
		<h3>Actividad suscritas</h3>
			{% for i in record_ocio %}	
				<div class="evento">
					<div class="imagenEvento">
						<img src="../../static/images/{{i.Imagen}}">
					</div>
					<div class="detallesEvento">
						<h3>{{i.Titulo}}</h3>
						<div class="datosEvento">
							<p>Ciudad: {{i.Ciudad}}</p>
							<p>Dirección: {{i.Direccion}}</p>
							<div class="datos">
								Hora: {{i.Hora}}
							</div>
						</div>

						<div class="precio">
							{{i.Precio}}
						</div>
					</div>
				</div>
			{% endfor %}

			{% for i in record_viv %}
				<div class="evento">
					<div class="imagenEvento">
						<img src="../../static/images/{{i.Imagen}}">
					</div>

					<div class="detallesEvento">
						<h3>{{i.Titulo}}</h3>
						<div class="datosEvento">
							<p>Ciudad: {{i.Ciudad}}</p>
							<p>Dirección: {{i.Direccion}}</p>
							<div class="datos">
								<div>Num. Habitaciones: {{i.NumHab}}</div>
							</div>
						</div>

						<div class="precio">
							{{i.Precio}}
						</div>
					</div>
				</div>
			{% endfor %}

			{% for i in record_emp %}
				<div class="evento">
					<div class="imagenEvento">

						<img src="../../static/images/{{i.Imagen}}">

					</div>

					<div class="detallesEvento">
						<h3>{{i.Titulo}}</h3>
						<div class="datosEvento">
							<p>Ciudad: {{i.Ciudad}}</p>
							<div class="datos">
								<div>Periodo: {{i.Periodo}}</div>
							</div>
						</div>

						<div class="precio">
							{{i.Sueldo}}
						</div>
					</div>
				</div>
			{% endfor %}

		<br></br>
	{% endblock %}

