{% load fullcalendar_tags %}
<!DOCTYPE html>
<html>
	<title>Plan Your City</title>	
<head>	
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">		
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
	<link rel="stylesheet" type="text/css" href="/static/css/style_listing.css">
	<link rel="stylesheet" type="text/css" href="/static/css/stylesheet_detalle.css">
	<link rel="stylesheet" type="text/css" href="/static/css/style_search.css">
	<link rel="stylesheet" type="text/css" href="/static/css/style_ofertar.css">
	<link rel="stylesheet" type="text/css" href="/static/css/plugin/alertify/alertify.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/plugin/alertify/default.min.css">
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

	<!--CSS PARA CONSTRUCCION-->
	<link rel="stylesheet" type="text/css" href="/static/css/style_building.css">

	<script src="http://maps.googleapis.com/maps/api/js"></script>

	{% fullcalendar_css %}        
	{% fullcalendar_print_css %}        
	{% fullcalendar_jquery %}
	{% fullcalendar_jquery_ui %}
	{% fullcalendar_javascript %}

	{% calendar_init calendar_config_options %}

	<meta charset="utf-8">
</head>
<body>
	<div id="menuLateral" class="btn-group-vertical navbar-default" role="group">

		<div class="row calendario">
			<div class=".col-lg-12 boton btn btn-primary btn-lg">
				<li><a href="http://localhost:8000/calendario">Calendario</a></li>
			</div>
		</div>

		<div class="row buscar">
			<div class=".col-lg-12 boton btn btn-primary btn-lg ">
				<li><a href="#">Buscar</a></li>
			</div>
			<div class="submenuBuscar btn-primary">
				<ul>
					<li><a href="#">Ocio</a></li>
					<li><a href="#">Vivienda</a></li>
					<li><a href="#">Empleo</a></li>
				</ul>
			</div>
		</div>

		<div class="row ofertar">
			<div class=".col-lg-12 boton btn btn-primary btn-lg">
				<li><a href="#">Ofertar</a></li>
			</div>
			<div class="submenuOfertar btn-primary">
				<ul>
					<li><a href="#">Ocio</a></li>
					<li><a href="#">Vivienda</a></li>
					<li><a href="#">Empleo</a></li>
				</ul>
			</div>
		</div>

	</div>

	<div id="contenido" class="container-fluid">	
		<div class="row cabecera">
			<div class="col-lg-10">
				<h1>Plan Your City</h1>
			</div>

			<div class="col-lg-1">

				<a class="btn btn-default btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
			    	<span class="glyphicon glyphicon glyphicon-user"> {{request.user}}</span>
			  	</a>
			  	<ul class="dropdown-menu">
			    	<li><a href="http://localhost:8000/listado/">Eventos creados</a></li>
			    	<li><a href="{% url 'auth:logout' %}?next={{ request.path }}">Logout</a></li>
			  	</ul>
			</div>
		</div>

		<div class="contenidoPrincipal">
			{% block content %}{% endblock %}
		</div>

		<div id="clear"></div>

		<div id="footer" class="row">
				<p>Copyright &copy; Plain Your City 2015</p>
		</div>
	</div>

	<!--Llamadas a scripts-->
	<!--script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>   	  	
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script-->
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/static/js/plugin/alertify.min.js"></script>
	<script type="text/javascript" src="/static/js/plugin/jquery.numeric.js"></script>
	<script type="text/javascript" src="/static/js/botonEvento.js"></script>
	<script type="text/javascript" src="/static/js/formBusqueda.js"></script>
	<script type="text/javascript" src="/static/js/submenus.js"></script>
	<script type="text/javascript" src="/static/js/funcSubmenus.js"></script>
	<script type="text/javascript" src="/static/js/ofertar.js"></script>
	<script type="text/javascript" src="/static/js/hoverBoton.js"></script>
	<script type="text/javascript" src="/static/js/submitOfertar.js"></script>
	<script type="text/javascript" src="/static/js/sigueme.js"></script>
	<script type="text/javascript" src="/static/js/detalleCalendario.js"></script>
</html>



               